<?xml version="1.0" encoding="UTF-8"?>
<config>
  <HistoryDirectory>C:\PSWorks\Data</HistoryDirectory>
  <RootFolderName>PSWorks</RootFolderName>
  <DatabaseName>PSWorksLake</DatabaseName>
  <InstanceName>PSWorksDB</InstanceName>
  <ConnectionString>Server=(localdb)\PSWorksDB;Database=PSWorksLake;Integrated Security=True;</ConnectionString>
  <RestoreDirectory>Restore</RestoreDirectory>
  <historytable name="Foo Bar 0" />
  <historytable name="Tables" />
  <historytable name="Tournaments" />
</config>