<?xml version="1.0" encoding="UTF-8"?>
<config>
  <HistoryDirectory>C:\Users\webmaster\Desktop\PSPokerETL2\HISTORY</HistoryDirectory>
  <RootFolderName>PSPokerETL2</RootFolderName>
  <DatabaseName>PSPokerETL2Lake</DatabaseName>
  <InstanceName>PSPokerETL2DB</InstanceName>
  <ConnectionString>Server=(localdb)\PSPokerETL2DB;Database=PSPokerETL2Lake;Integrated Security=True;</ConnectionString>
  <RestoreDirectory>Restore</RestoreDirectory>
  <historytable name="Tables" />
  <historytable name="Tournaments" />
</config>